


<div class="column column-onetwo">
	<div >
		<ul ng-repeat="app in appNames">
			<div  class="item" ng-click="setAppName()" value="{{app}}">
			    <img src="AppIcon.png" class="appimg">
			    <span class="caption">{{app}}</span>
			</div>
		 </ul>
	</div>
	
</div>

<div class="column column-three">
  
    <form ng-submit="submitTheForm()">
     	<br>
        <br>
        
        <div align="center">
      <table class="box">
	  <tr class="box">
	    <td class="box">
	      <div class="inputdata" >
    		<label for="topologyName">Topology Name:</label>
		 </div>
	    </td>
	    <td class="box">
	        <div class="inputdata">
    			<span><input type="text" id="topologyName" ng-model="tmpName" readonly disabled/></span>
			</div>
	    </td>
	  </tr>
	  <tr class="box">
	    <td class="box">
	      <div class="inputdata" >
    		<label for="applicationName">Application Name:</label>
		 </div>
	    </td>
	    <td class="box">
	        <div class="inputdata">
    			<span><input type="text" id="applicationName" ng-model="appName" /></span>
			</div>
	    </td>
	  </tr>
	  <tr class="box">
	    <td class="box">
	      <div class="inputdata"  >
    		<label for="fileUpload">Runtime Details:</label>
		 </div>
	    </td>
	    <td class="box" >
	        <div class="inputdata">
    			<span><input type="file" id="fileUpload" file-model="dockerFile" /></span>
			</div>
	    </td>
	  </tr>

</table>
</div>
        
        <br>
        <br>
        <br>

        
        
        <div align="center">
            <button class="buttons" type="submit">Run</button>
        </div>
    </form>
</div>

