<div class="column column-one">
    <div draggable="true" ondragstart="drag_start(event)" class="image"><center>
        <img src="nginx1.png" id="nginxImage" alt="nginx"
             height="80" width="80" align="middle"
             class="image">
             </center>
             </div>
    <br/>
    <br/>

    <div draggable="true" ondragstart="drag_start(event)" class="image"><center>
        <img src="tomcat1.png" id="tomcatImage"
             alt="tomcat" height="80" width="80"
             align="middle" class="image"></center></div>
    <br/>
    <br/>

    <div draggable="true" ondragstart="drag_start(event)" class="image"><center>
        <img src="mysql1.png" id="mysqlImage" alt="mysql"
             height="80" width="80" align="middle"
             class="image"></center></div>
    <br/>
    <br/>

    <div draggable="true" ondragstart="drag_start(event)" class="image"><center>
        <img src="mongodb1.png" id="mongodbImage"
             alt="mongdb" height="80" width="80"
             align="middle" class="image"></center></div>
             <br/>
    <br/>
             <div  class="image"><center>
        <img src="oracle1.png" id="oracleImage"
             alt="oracle" height="80" width="80"
             align="middle" class="image"></center></div>
             <br/>
    <br/>
             <div   class="image"><center>
        <img src="apache1.png" id="apacheImage"
             alt="apache" height="80" width="80"
             align="middle" class="image"></center></div>
             <br/>
    <br/>
             <div class="image"><center>
        <img src="cassandra1.png" id="cassandraImage"
             alt="cassandra" height="80" width="80"
             align="middle" class="image"></center></div>
</div>



<div class="column column-two" ondragover="drag_over(event)" ondrop="drop(event)">
    <div id="svgContainer">
        <svg id="svg1" width="0" height="0">
            <path
                    id="path1"
                    d="M0 0"
                    stroke="#000"
                    fill="none"
                    stroke-width="5px"></path>
            <path
                    id="path2"
                    d="M0 0"
                    stroke="#000"
                    fill="none"
                    stroke-width="5px"></path>
            <path
                    id="path3"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
            <path
                    id="path4"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
            <path
                    id="path5"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
            <path
                    id="path6"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
            <path
                    id="path7"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
            <path
                    id="path8"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
            <path
                    id="path9"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
            <path
                    id="path10"
                    d="M0 0"
                    stroke-width="5px"
                    style="stroke:#000; fill:none;"></path>
        </svg>
    </div>
</div>

<div class="column column-three">
   
    <form ng-submit="submitTheForm()">
    	<br/>
    	<br/>
    	
        
   <div align="center">     
 <table class="box">
	  <tr class="box">
	    <td class="box">
	      <div class="inputdata" >
    		<label for="applicationName">Application Name:</label>
		 </div>
	    </td>
	    <td class="box">
	        <div class="inputdata">
    			<span><input type="text" id="applicationName" ng-model="appName" /></span>
			</div>
	    </td>
	  </tr>
	  <tr class="box">
	    <td class="box">
	      <div class="inputdata"  >
    		<label for="fileUpload">Image Details:</label>
		 </div>
	    </td>
	    <td class="box" >
	        <div class="inputdata">
    			<span><input type="file" id="fileUpload" file-model="imageFile" /></span>
			</div>
	    </td>
	  </tr>
	 
	  <tr class="box">
		  <td class="box">
			   <div class="inputdata"  >
		    		<label ></label>
				</div>
		  </td> 
		  <td class="box">
			  <div class="inputdata">
		    			<span></span>
				</div>
		  </td>
	  </tr>
	  <tr class="box">
		  <td class="box">
			   <div class="inputdata"  >
		    		<label ></label>
				</div>
		  </td> 
		  <td class="box">
			  <div class="inputdata">
		    			<span></span>
				</div>
		  </td>
	  </tr>
	  <tr class="box">
		  <td class="box">
			   <div class="inputdata"  >
		    		<label ></label>
				</div>
		  </td> 
		  <td class="box">
			  <div class="inputdata">
		    			<span></span>
				</div>
		  </td>
	  </tr>

<tr class="box">
	    <td class="box">
	      <div class="inputdata" >
    		<label >Number of Instances</label>
		 </div>
	    </td>
	    <td class="box">
	        <div class="inputdata">
    			
			</div>
	    </td>
	  </tr>
	  
	  <tr class="box">
	    <td class="box">
	      <div class="inputinstance" >
    		<label for="noOfTomcatInstances">Tomcat:</label>
		 </div>
	    </td>
	    <td class="box">
	        <div class="inputdata">
    			<span><input type="text" id="noOfTomcatInstances" /></span>
			</div>
	    </td>
	  </tr>
	  <tr class="box">
	    <td class="box">
	      <div class="inputinstance"  >
    		<label for="noOfMysqlInstances">Mysql:</label>
		 </div>
	    </td>
	    <td class="box" >
	        <div class="inputdata">
    			<span><input type="text" id="noOfMysqlInstances" value="1" readonly disabled /></span>
			</div>
	    </td>
	  </tr>
	   <tr class="box">
	    <td class="box">
	      <div class="inputinstance"  >
    		<label for="noOfMongoInstances">Mongodb:</label>
		 </div>
	    </td>
	    <td class="box" >
	        <div class="inputdata">
    			<span><input type="text" id="noOfMongoInstances" value="1" readonly disabled /></span>
			</div>
	    </td>
	  </tr>
	  <tr class="box">
	    <td class="box">
	      <div class="inputinstance"  >
    		<label for="noOfNginxInstances">Nginx:</label>
		 </div>
	    </td>
	    <td class="box" >
	        <div class="inputdata">
    			<span><input type="text" id="noOfNginxInstances" value="1" readonly disabled /></span>
			</div>
	    </td>
	  </tr>
	  
</table>
</div>
<br/>
<br/>

<br>
        <br>
        <br>
 
    	 <div align="center">
            <button class="buttons" type="submit">Save</button>
        </div>
   
    </form>
</div>

